In [8]:
import ast
import pandas as pd

df = pd.read_csv("./data/cats_and_dogs/pets_dataset_info.csv")
df["Breed"] = df["Breed"].apply(ast.literal_eval)
df.head()

                              Sample_ID                Breed  PET_ID
0  e23e7fba-cdcf-59fc-b6e1-3dbae82c3f36            [samoyed]     [1]
1  bd3703af-9e60-5667-a6ca-e4f5a71e319b            [samoyed]     [2]
2  e1a0b2fa-5b34-565b-9f64-96704101804c           [keeshond]     [3]
3  dd9e09f2-8d78-5bcb-8873-d52c6ed83d1b  [Persian, havanese]  [4, 5]
4  a8d71823-ace8-5898-b017-209f9ef4cda9            [samoyed]     [6]

In [14]:
df.shape

(9087, 3)

To see how many times we see two pets:

In [11]:
df["Breed"].map(len).value_counts()

Breed
1    7349
2    1738
Name: count, dtype: int64

In [15]:
from collections import Counter
# Flatten the list of all breeds
all_breeds = [breed for sublist in df['Breed'] for breed in sublist]
# Count occurrences
breed_counts = Counter(all_breeds)
print(f"There are {len(breed_counts)} unique breeds in the dataset.")
breed_counts.most_common()

There are 37 unique breeds in the dataset.

[('Ragdoll', 366),
 ('Sphynx', 362),
 ('Siamese', 355),
 ('Russian_Blue', 347),
 ('Persian', 344),
 ('British_Shorthair', 344),
 ('Egyptian_Mau', 341),
 ('Bengal', 338),
 ('Abyssinian', 335),
 ('Birman', 334),
 ('Bombay', 325),
 ('Maine_Coon', 318),
 ('pomeranian', 286),
 ('shiba_inu', 280),
 ('beagle', 278),
 ('havanese', 276),
 ('german_shorthaired', 275),
 ('japanese_chin', 274),
 ('leonberger', 273),
 ('english_setter', 272),
 ('basset_hound', 272),
 ('american_pit_bull_terrier', 271),
 ('wheaten_terrier', 271),
 ('english_cocker_spaniel', 271),
 ('chihuahua', 269),
 ('samoyed', 268),
 ('american_bulldog', 268),
 ('yorkshire_terrier', 266),
 ('boxer', 266),
 ('pug', 265),
 ('scottish_terrier', 265),
 ('saint_bernard', 264),
 ('miniature_pinscher', 263),
 ('keeshond', 257),
 ('newfoundland', 256),
 ('great_pyrenees', 256),
 ('staffordshire_bull_terrier', 254)]

In [17]:
import pathlib
from PIL import Image

df["image_path"] = df["Sample_ID"].map(lambda x: pathlib.Path(f"./data/cats_and_dogs/data/{x}/image.jpg"))
df["mask_path"] = df["Sample_ID"].map(lambda x: pathlib.Path(f"./data/cats_and_dogs/data/{x}/mask.jpg"))
df["image_size"] = df["image_path"].map(lambda x: Image.open(x).size)
df["mask_size"] = df["mask_path"].map(lambda x: Image.open(x).size)
df.sample(10)

,Sample_ID,Breed,PET_ID,image_path,mask_path,image_size,mask_size
5381,af48f3f9-1d68-5cf9-a5d1-a852408d319c,[boxer],[5054],data/cats_and_dogs/data/af48f3f9-1d68-5cf9-a5d...,data/cats_and_dogs/data/af48f3f9-1d68-5cf9-a5d...,"(333, 500)","(333, 500)"
4230,10743158-b3d8-52cf-b188-b5465f2bb458,[english_cocker_spaniel],[4187],data/cats_and_dogs/data/10743158-b3d8-52cf-b18...,data/cats_and_dogs/data/10743158-b3d8-52cf-b18...,"(500, 375)","(500, 375)"
3012,87da6a73-9ff8-5669-adb0-36b8f77edee2,[german_shorthaired],[3160],data/cats_and_dogs/data/87da6a73-9ff8-5669-adb...,data/cats_and_dogs/data/87da6a73-9ff8-5669-adb...,"(500, 333)","(500, 333)"
5715,46a0114f-1389-5b08-9d7f-8e8dae794ee0,"[Birman, leonberger]","[3064, 2846]",data/cats_and_dogs/data/46a0114f-1389-5b08-9d7...,data/cats_and_dogs/data/46a0114f-1389-5b08-9d7...,"(750, 375)","(750, 375)"
4904,f34ba8da-e995-58f2-8ba9-053d871ffd50,[pug],[4702],data/cats_and_dogs/data/f34ba8da-e995-58f2-8ba...,data/cats_and_dogs/data/f34ba8da-e995-58f2-8ba...,"(500, 334)","(500, 334)"
6789,9b7f7d34-775d-53b1-8c85-3d4035c0117d,"[Ragdoll, staffordshire_bull_terrier]","[5260, 1209]",data/cats_and_dogs/data/9b7f7d34-775d-53b1-8c8...,data/cats_and_dogs/data/9b7f7d34-775d-53b1-8c8...,"(1000, 375)","(1000, 375)"
8174,cf7522b0-65e8-51b3-b6b1-4f4522c10b96,[Ragdoll],[6859],data/cats_and_dogs/data/cf7522b0-65e8-51b3-b6b...,data/cats_and_dogs/data/cf7522b0-65e8-51b3-b6b...,"(320, 213)","(320, 213)"
6232,c266832f-1661-566e-a086-379c1b4934f6,[Russian_Blue],[5651],data/cats_and_dogs/data/c266832f-1661-566e-a08...,data/cats_and_dogs/data/c266832f-1661-566e-a08...,"(500, 421)","(500, 421)"
4546,2075f624-2a1d-5673-99f8-bd216c51d9d3,[yorkshire_terrier],[4432],data/cats_and_dogs/data/2075f624-2a1d-5673-99f...,data/cats_and_dogs/data/2075f624-2a1d-5673-99f...,"(478, 500)","(478, 500)"
3671,5e5462a1-1ece-5894-b57a-a6bdde946dac,[chihuahua],[3716],data/cats_and_dogs/data/5e5462a1-1ece-5894-b57...,data/cats_and_dogs/data/5e5462a1-1ece-5894-b57...,"(300, 225)","(300, 225)"